body{
    height: 100dvh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 20dvw;
    padding: 3rem;
    border-radius: 20px;
    gap: 25px;
}

section{
    display: flex;
    justify-content: space-between;
}

label:hover{
   cursor: pointer;
}
p{
    color: aliceblue;
}